.cart_page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cart_contain
{
    margin-bottom: 50px;
}

.cart_title
{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product_contain
{
    border: 1px solid #f7941d;
    width: auto;
    background-color: #fff;
    padding: 15px 25px 1px 25px;
    box-shadow: 5px 5px 30px grey;
    float: none;
}

.product_list
{
    padding-top: 5px;
}

.cart_header_box
{
    font-weight: bold;
    border-bottom: 1px solid #f7941d;
    font-size: 17px;
    width: 100%;
}

.cart_header
{
    display: inline-block;
    padding: 10px 0;
    font-weight: 700;
    font-size: 16px;
}

.first_header
{
    width: 6%;
    text-align: center !important;
}

.second_header
{
    width: 21%;
    text-align: left;
}

.third_header
{
    width: 19%;
    text-align: left;
    padding-left: 5px;
}

.fourth_header
{
    width: 21%;
    text-align: center !important;
}

.price
{
    white-space: nowrap;
}

.fifth_header
{
    width: 16%;
    text-align: center !important;
}

.sixth_header
{
    width: 13%;
    text-align: right !important;
}

.cart_body_box
{
    width: 100%;
}

.item_cart
{
    width: 100%;
    padding: 20px 0;
}

.cart_body
{
    line-height: 20px;
    vertical-align: top;
    height: 100px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.first_body
{
    width: 6%;
    text-align: right !important;
}

.link_icon:hover
{
    color: #f7941d;
}

.icon
{
    color: grey;
    text-shadow: 0px 0px 3px grey;
}

.second_body
{
    width: 10%;
}

.product_image_c
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: auto;
    width: auto;
}

.third_body
{
    width: 33%;
    align-items: flex-start;
    text-align: center !important;
}

.product_name
{
    margin-top: 7px;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    text-align: left;
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_link
{
    color: black;
    text-decoration: none;
}

.product_link:hover
{
    color: #f7941d;
}

.fourth_body
{
    width: 19%;
    text-align: center !important;
}

.item_price
{
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.fifth_body
{
    width: 19%;
    text-align:  center !important;
}

.number_box
{
    width: 98px;
    height: 40px;
}

.number_cart
{
    border: 1px solid #e9edf5;
    height: 40px;
    text-align: left;
    width: 98px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
}

.button_down
{
    background: transparent;
    outline: none;
    position: absolute;
    color: black;
    border: none;
    margin-top: 16px;
    margin-left: 68px;
}

.button_up
{
    background: #fff;
    outline: none;
    position: absolute;
    color: black;
    border: none;
    margin-left: -30px;
    margin-top: 2px;
}

.icon_button
{
    font-size: small;
}

.sixth_body
{
    width: 9%;
    align-items: center;
    text-align: center !important;
}

.total
{
    border-top: 1px solid #ebebeb;
}

.total_table
{
    width: 100%;
    padding-bottom: 8px;
}

.total table
{
    border: none;
}

.total table tr
{
    background-color: #fff;
    border: none;
}

.total_table tr td
{
    border: none;
    padding: 35px 0 30px 0;
}

.talbe_content
{
    text-align: right !important;
}

.total_header
{
    font-size: 21px;
}

.total_price
{
    color: #f7941d;
    font-size: 21px;
    width: 15%;
    font-weight: 400;
    display: inline-block;
}

.submit
{
    list-style: none outside;
}

.first_button
{
    background: #ebebeb;
    color: black;
    line-height: 45px;
    height: 45px;
    padding: 0 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px !important;
    border: none;
    float: right !important;
    margin-bottom: 30px;
}

.first_button:hover
{
    color: white;
    background-color: #9e9e9e;
}

.second_button
{
    background: #f7941d;
    color: white;
    line-height: 45px;
    height: 45px;
    padding: 0 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    float: right !important;
    outline: none !important;
    margin-bottom: 30px;
}

.second_button:hover
{
    background-color: #c57718;
}

/* Reponsive */
@media only screen and (min-width: 768px)
{
    .cart_mobile
    {
        display: none !important;
    }
}

@media only screen and (max-width: 768px)
{
   .large_container
   {
    display: none;
   }

   .cart_mobile
   {
       padding: 0px;
       margin-top: 0px;
       float: left;
       width: 100%;
   }

   .cart_sm_title
   {
    padding: 0px 15px;
    margin-top: 0px;
    float: left;
    width: 100%;
   }

   .cart_sm_title span
   {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
   }

   .small_content_c
   {
    margin-top: 0px;
    background: #fff;
   }

   .content_product_c
   {
    min-height: 110px;
   }

   .small_product_c
   {
    padding: 15px 15px;
    min-height: 110px;
    border-bottom: solid 1px #ebebeb;
    overflow: hidden;
   }

   .small_pic_bc
   {
    max-width: 115px;
    margin-right: 10px;
    float: left;
   }

   .small_link_c
   {
    text-decoration: none;
    color: #575454;
   }

   .small_pic_bc img
   {
    max-width: 115px;
    margin-right: 10px;
    border: none;
    height: auto;
    vertical-align: middle;
   }

   .small_title_bc
   {
    width: calc(100% - 180px);
    padding-right: 5px;
    float: left;
   }

   .small_title_bc h3
   {
    word-break: break-word;
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
    color: #707070;
    margin: 0;
   }

   .small_title_bc a
   {
    color: #707070;
    text-decoration: none;
    font-weight: inherit;
   }

   .small_title_bc p
   {
    line-height: 2;
    font-size: 14px;
    color: #252525;
    margin: 0 0 15px 0;
   }

   .small_price_c
   {
    color: #252525;

   }

   .number_bc
   {
    float: right;
    text-align: center;
   }

   .number_p_c
   {
    width: 76px;
    margin-top: 0;
    padding: 0px;
    position: relative;
    height: 40px;
   }

   .input_bc
   {
    min-height: 0;
    position: static;
    display: inline-block;
    float: none;
    margin-bottom: 0;
    border: 1px solid #e9edf5;
    height: 40px;
    margin-left: 0px;
    text-align: left;
    width: 76px;
    padding: 0;
    padding-left: 15px;
    margin-right: 0px;
    line-height: 15px;
    border-radius: 0px;
    font-weight: 400;
    font-size: 14px;
   }

   .small_button_down
   {
    outline: none;
    border: none;
    background: #fff;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    z-index: 2;
    line-height: 14px;
    color: #7b8395;
    right: 10px;
    top: 19px;
    height: 15px;
    width: 20px;
   }

   .small_button_up
   {    outline: none;
    border: none;
    background: #fff;
    vertical-align: baseline;
    text-align: center;
    padding: 0;
    display: inline-block;
    margin: 0;
    position: absolute;
    z-index: 2;
    line-height: 14px;
    color: #7b8395;
    right: 10px;
    top: 6px;
    height: 15px;
    width: 20px;
   }

   .small_remove
   {
    line-height: 3;
    color: #252525;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
   }

   .small_remove:hover
   {
    color: #252525;
   }

   .small_total_bc
   {
    padding: 18px 15px;
   }

   .small_total_c h3
   {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
   }

   .small_total_c a
   {
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: #f7941d;
    float: right !important;
    text-decoration: none;
    cursor: pointer;
   }

   .small_total_c a:hover
   {
    color: #f7941d;
   }

   .small_submit
   {
    float: left;
    width: 100%;
    margin-bottom: 30px;
   }

   .small_first_b
   {
    width: 100%;
    line-height: 27px;
    color: #fff;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    border: none;
    background: #f7941d;
    border-radius: 5px;
    margin-top: 15px;
    overflow: visible;
   }

   .small_second_b
   {
    width: 100%;
    line-height: 27px;
    color: #252525;
    height: 45px;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    border: none;
    background: #ebebeb;
    border-radius: 5px;
    margin-top: 15px;
    float: left !important;
   }

   .small_second_b:hover
   {
    background: #f7941d;
    color: #fff;
   }
}

@media only screen and (max-width: 576px)
{
    
}