.inline{
    display: inline;
}

.text_container{
   display: inline-block;
}

.Ghe_sort{
    position: relative;
    font-weight:300px;
    font-size: x-large;
}

.label_sort{
    display: inline;
    padding-top: 10px;
}

.sort{
    text-align: right;
}

.Macdinh{
    font-size: x-large;
}

.product_c{
   width: 100%;
   height: 100%;
   float: left;
   margin-bottom: 10px;
}

.product_image
{
    position: relative;
}

.link_image
{
    text-decoration: none;
    color: black;
}

.link_image:hover
{
    color: #f7941d;
}

.img_t{
    height: 100%;
    width: 100%;
}

.image_text
{
    position: relative;
    float: left;
    padding-top: 10px;
    width: 100%;
   
}

.product_namei{
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center !important;
    font-weight: 400;
    line-height: 22px;
}

.product_price
{
    font-size: 16px;
    color: #f7941d;
    font-weight: 400;
}

.side_box
{
    margin-bottom: 20px;
}

.side_container
{
    margin-bottom: 50px;
}

.title_line_c
{
    position: relative;
}

.title_line_c::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.side_title
{
    position: relative;
    font-weight:400px;
    font-size: x-large;
    color: white;
    background-color: #f7941d;
    width: 140px;
    transform: skew(10deg);
    text-align: center;
    text-transform: uppercase;
    font-size: larger;
    padding: 5px 0px;
}

.side_text_box{
    border: 1px solid #f7941d;
    border-radius: 5px;
    padding: 20px;
}

.nav_link
{
    text-decoration: none;
    color: black;
    line-height: 27px;
}

.filter-product
{
    line-height: 27px;
    width: 100%;
}

.no_product
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #faebcc;
}

.close_box
{
    display: inline-block;
    text-align: right;
}

.buton_close
{
    padding: 0px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 650;
    color: #000;
    opacity: 0.3;
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    text-align: right;
}

.buton_close:hover
{
    color: #000;
    opacity: 0.5;
}

.bt_close
{
    text-align: right;
}

/* Reponsive */

@media only screen and (max-width: 992px)
{
    .sidebar
    {
        position: fixed;
        width: 256px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        border-top: solid 1px #bbbbbb;
        border-left: solid 1px #bbbbbb;
        overflow: hidden;
        overflow-y: auto;
        z-index: 100000;
        visibility: hidden;
        transition: all 0.35s ease;
        transform: translateX(100%);
    }

    .sidebar.openf
    {
        padding-top: 15px;
        visibility: visible;
        transform: translateX(0);
    }

    .icon_side_d
    {
        color: #fff;
        background: #f7941d;
        position: fixed;
        right: 0;
        top: 42% !important;
        padding: 4px 10px;
        cursor: pointer;
        z-index: 99999;
        font-size: 18px;
        transition: all 0.35s ease;
        width: auto;
    }

    .icon_side_d.openf
    {
        right: 256px;
    }
}

@media only screen and (max-width: 768px)
{
    .label_sort {
        display: none !important;
    }
    .sort
    {
        text-align: left;
    }
}