* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: inherit;
}

.title-1-1 {
    color: #000;
    background-color: #e7e4e4;
    font-size: 23px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
    padding: 5px 20px 5px 20px;
}

.title-right {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}



.form-check .icon .toolt {
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-check .icon:hover .toolt {
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.form-check .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.form-check .toolt::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.product-img {
    border-radius: 8px;
}

.product-thumbnail__quantity {
    font-size: .78em;
    white-space: nowrap;
    padding: 0 .62em;
    border-radius: 2em;
    background-color: #2a9dcc;
    color: #fff;
    position: absolute;
    right: 16em;
    top: 0.1em;
    z-index: 3;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    text-align: center;
    line-height: 1.75em;
}