.specific_product
{
    margin-top: 5px !important;
    width: 100%;
}

.row_box1_p
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.image_product_t
{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.link_image_pt
{
    text-decoration: none;
}

.image_pt
{
    position: static !important;
    width: 100%;
    height: auto !important;
    display: block;
}

.small_image_box
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.small_image_c
{
    height: 100px !important;
    position: relative;
}

/* .tras_image_c
{

} */

.image_item_c
{
    float: left;
    width: 90px;
    margin-right: 15px;
}

.link_small_image
{
    display: flex;
    align-items: center;
    justify-items: center;
    background: white;
    border: 1px solid #e1e1e1;
    height: 90px;
    width: 90px;
}

.style_small_image
{
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.detail_box_t
{
    background: #f3f3f3;
    padding: 20px;
}

.detail_title
{
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
    font-weight: 400;
}

.name_product_box
{
    margin-bottom: 8px;
}

.name_product_t
{
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #575757;
    position: relative;
}

.name_product_t::before
{
    width: 50%;
    float: left;
    border: 1px solid #d3d3d3;
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
}

.price_box_t
{
    margin: 8px 0px 15px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px 10px;
    align-items: center;
    display: inline-flex;
    transform: skew(10deg);
    background-color: #f7941d;
}

.product_price_w
{
    color: #fff;
    font-size: 28px;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
}

.detail_text_box
{
    padding: 0px 10px 15px 0px;
    border-bottom: 1px solid #ebebeb;
}

.detail_text_t
{
    font-size: 14px;
    color: #252525;
    line-height: 22px;
    text-align: justify;
}

.form_detail
{
    padding-top: 10px;

}

.detail_color_box
{
    margin: 15px 0px;
}

.form_header_t
{
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #252525; 
}

.swatch_color
{
    margin-right: 5px;
    float: left;
    position: relative;
}

.color_detail input:checked+label
{
    color: #f7941d;
    box-shadow: 0px 1px 9px 0px rgb(4 4 4 / 14%);
}

.color_detail input[type="radio"]
{
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    outline: none;
    opacity: 0;
    line-height: normal;
}

.color_detail label
{
    border-radius: 50%;
    width: 30px;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    border: 1px solid #e1e1e1 !important;
    text-align: center;
}

.color_detail input:checked+label::after
{
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    display: block;
    content: "\f00c";
    color: white;
    font-size: 14px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.color_detail input:checked+label
{
    position: relative;
}

.detail_size_box
{
    padding: 15px 0px;
    clear: both;
}

.swatch_size
{
    margin: 0px 5px 5px 0px;
    float: left;
    position: relative;
}

.swatch_size input[type="radio"]
{
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    outline: none;
    opacity: 0;
    line-height: normal;
    height: 100%;
}

.swatch_size input:checked+label
{
    color: #f7941d;
    box-shadow: 0px 1px 9px 0px rgb(4 4 4 / 14%);
}

.size_label_t
{
    float: left;
    min-width: 30px !important;
    height: 30px !important;
    margin: 0;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    text-transform: none;
    padding: 0px 5px;
}

.detail_sl_box
{
    border-top: 1px solid #ebebeb;
    margin-top: 25px !important;
    padding-top: 20px !important;
    width: 100%;
    float: left;
}

.sl_box
{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    display: block !important;
}

.sl_label
{
    font-weight: 400;
    float: left;
    line-height: 45px;
    margin-right: 30px;
    color: #f7941d;
}

.sl_number
{
    float: left;
    margin-top: 9px;
    display: block;
}

.btn_number
{
    font-size: 16px;
    border: 1px solid #e1e1e1;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 24px;
    border-radius: 3px;
    background: #fff;
    color: #252525;
    text-align: center;
}

.btn_number2
{
    font-size: 14px;
}

.text_number_t
{
    margin: 0px 5px;
    float: left;
    display: block;
    color: #252525;
    height: 30px;
    min-height: 30px;
    line-height: 26px;
    border: 1px solid #e1e1e1;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    background: #fff;
}

.detail_submit_box
{
    display: block;
}

.detail_submit
{
    float: left;
    margin: 0xp;
}

.detail_submit_p
{
    font-size: 18px;
    color: #fff;
    width: 270px;
    height: 45px;
    padding: 0px 20px;
    border-radius: 5px;
    background: #f7941d;
    font-weight: 400;
    outline: none !important;
    text-align: center;
    white-space: nowrap;
    border: 0px;
}

.detail_submit_p:hover
{
    background: #fff;
    color: #f7941d;
    border: 1px solid #f7941d;
}

.detail_submit_box::after
{
    clear: both;
}

.text_submit
{
    font-size: 18px;
    font-weight: 400;
    display: block;
    width: 100%;
    text-align: center;
}

.detail_phonenum
{
    margin: 15px 0px 20px 0px;
    color: #707070;
    float: left;
    width: 100%;

}

.phone_detail
{
    text-decoration: none;
    color: #f7941d;
    font-weight: 400;
}

.phone_detail:hover
{
    color: #252525;
}

.row_box2_p
{
    margin-top: 40px !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.detail_tab
{
    float: left;
    width: 100%;
    margin-top: 40px;
}

.tab_header_p
{
    text-align: center;
    padding-left: 0px;
    border-bottom: 2px solid #f3f3f3;
    margin-bottom: 30px;
    list-style: none;
    margin-top: 0px;
}

.tab_link_p
{
    position: relative;
    display: inline-block;
    padding: 0px 35px 0px 0px;
    cursor: pointer;
}

.tab_header_text
{
    color: #898989;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.tab_current
{
    color: #f7941d !important;
}

.tab_text_box
{
    color: #555555;
    padding: 0px 0px 60px 0px;
    font-size: 14px;
}

.tab_text_box p
{
    margin-bottom: 15px;
}

.related_box_p
{
    margin-bottom: 30px !important;
    margin-top: 0px;
    display: block;
    float: left;
    width: 100%;
}

.related_header_box
{
    position: relative;
}

.related_header_box::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}

.related_text
{
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    height: 45px;
    padding: 15px 30px 15px;
    align-items: center;
    transform: skew(10deg);
    background-color: #f7941d;
    display: inline-flex;
    margin-left: -5px;
}

.related_link
{
    color: #fff;
    transform: skew(-10deg);
    text-decoration: none;
    font-weight: inherit;
}

.related_img_box
{
    margin-top: 30px;
    width: 100%;
    position: relative;
}

/* .related_trasition
{
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 936px;
} */

.rl_product_box
{
    width: 240px;
    margin-right: 30px;
    float: left;
    position: relative;
}

.rl_img_box
{
    height: fit-content;
    width: fit-content;
    margin-bottom: 0px;
}

.detail_link
{
    width: 100%;
    text-align: center;
    position: relative;
    height: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #252525;
}

.detail_link:hover
{
    background: #fdfdfd;
    opacity: 0.5 !important;
}

.detail_img
{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
    display: block;
}
.img_box_d
{
    position: relative;
}

.name_box_d
{
    text-align: left !important;
    position: relative;
    padding-top: 15px;
    float: left;
    width: 100%;
}

.product_name_d
{
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
    font-weight: 400;
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 22px;
    color: #252525;
}

.product_link_d
{
    color: #252525;
    text-decoration: none;
}

.product_link_d:hover
{
    color: #f7941d;
}

.icon_box_d
{
    text-align: center;
    position:absolute;
    left: 30%;
    top: 70%;
}

.icon_group_d
{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.link_icon_d
{
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    display: inline-block;
    margin: 0px 2px;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px;
    text-decoration: none;
}

.link_icon_d:hover
{
    background: #f7941d;
}

.button_icon_d
{
    width: 45px;
    height: 45px;
    line-height: 50px;
    color: #252525;
    background: #fff;
    border-radius: 5px;
    position: relative;
    margin: 0px 2px;
    padding: 0px;
    text-align: center;
    border: none;
    display: inline-block;
}

.button_icon_d:hover
{
    background: #f7941d;
    color: #fff;
}

.detail_price
{
    text-align: center;
    margin-right: 7px;
}

.price_pro_d
{
    color: #f7941d;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    user-select: none;
}