.background_header{
    background-image: url("background_header.webp");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    padding: 60px;
    margin-bottom: 40px;
}

.inline{
    display: inline;
}

.title_header{
    color: white;
    font-size: 50px;
}

.header_menu{
    color: white;
    list-style-type: none;
}

.header_menu li{
    font-size: 20px;
    display: inline;
}

.link_header{
    text-decoration: none;
    color: white;
}

.text_container{
   display: inline-block;
}

.Ghe_sort{
    position: relative;
    font-weight:300px;
    font-size: x-large;
}

.label_sort{
    display: inline;
    padding-top: 10px;
}

.sort{
    text-align: right;
}

.Macdinh{
    font-size: x-large;
}

.product{
   width: 100%;
   height: 100%;
   float: left;
   margin-bottom: 10px;
}

.product_image
{
    position: relative;
}

.link_image
{
    text-decoration: none;
    color: black;
}

img{
    height: 100%;
    width: 100%;
}

.image_text
{
    position: relative;
    float: left;
    padding-top: 10px;
    width: 100%;
}

.product_name{
    text-overflow: ellipsis;
    text-align: center;
    font-size: 15px;
}

.product_price
{
    font-size: 20px;
    color: #f7941d;
}


.side_box
{
    margin-bottom: 20px;
}

.side_title
{
    position: relative;
    font-weight:300px;
    font-size: x-large;
    color: white;
    background-color: #f7941d;
    width: 140px;
    transform: skew(10deg);
    text-align: center;
}

.side_text_box{
    border: 1px solid #f7941d;
    border-radius: 5px;
    padding: 20px;
}

.nav_link
{
    text-decoration: none;
    color: black;
    line-height: 27px;
}


@media (max-width: 767px)
{
    .label_sort {
        display: none !important;
    }
    .sort
    {
        text-align: left;
    }
}