/* body {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(100deg, #2980b9, #8e44ad);
} */

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}

.login h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.login form {
    font-size: 13px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.form-submit {
    align-items: center;
    width: 100%;
}

.login form input[type="submit"] {
    font-size: 15px;
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
}

.login form input[type="submit"]:hover {
    background-color: #2980b9;
}

.signup-link {
    text-align: center;
    margin: 10px 0;
}

.login-form-footer {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.login-form-footer a {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 30%;
    flex: 6;
    border: 1px solid black;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    color: black;
}

.login-form-footer a:hover {
    background-color: rgb(108, 191, 191);
}