* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;          
}

a {
    color: #252525;
    text-decoration: none;
    background: transparent;
}

ul {
    padding: 0;
    list-style: none;
}

.container-account {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    margin-right: 22px;
    margin-left: 22px;
}

.col-left-ac .title-account {
    font-family: "Product Sans",sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #212B25;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.col-left-ac ul .title-info {
    font-weight: 400;
    font-size: 14px;
    font-family: "Product Sans", sans-serif;
    color: #212B25;
    margin-bottom: 22px;
    display: block;
}

.col-left-ac ul .title-info:hover, .col-left-ac ul .title-info.active {
    color: #f7941d;
}

.col-left-ac p {
    font-weight: 700;
    font-size: 14px;
    font-family: "Product Sans", sans-serif;
    line-height: 16px;
    margin-bottom: 28px;
    color: #212B25;
    position: relative;
}

h1, .title-head {
    font-size: 19px;
    font-family: "Product Sans", sans-serif;
    line-height: 22px;
    font-weight: 400;
    color: #212B25;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.page-login {
    margin-bottom: 35px;
}

.form {
    margin-bottom: 30px;
}

p {
    margin: 0 0 15px 0;
}

.page-login .form-signup {
    margin-top: 35px;
}

.page-login .form-signup .form-group {
    margin-bottom: 0px;
}

.page-login .form-signup .form-group input {
    height: 45px;
    padding: 0 20px;
    color: #252525;
    border-radius: 0px !important;
    border-color: #ebebeb;
    box-shadow: none;
    margin-bottom: 10px !important;
}

.btn.btn-primary, 
input.btn-primary[type="submit"] {
    padding: 0 25px;
    background: #f7941d;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Product Sans", sans-serif;
    height: 50px;
    line-height: 50px;
    border: none;
}

.container-account .col-right-ac .name-account {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Product Sans", sans-serif;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
background-color: #f8f8f8;
border: 1px solid #ddd;
padding: .35em;
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.button {
    background: #f7941d;
    padding: 10px 16px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
}

.button:hover {
    color: #fff;
    background: #d97a08;
    cursor: pointer;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 415px;
    width: 710px;
    background: #fff;
    padding-top: 20px;
    border-radius: 5px;
    position: relative;
}

.closed_pop {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

.title_pop {
    font-family: "Product Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    padding: 0 34px 15px;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    margin-bottom: 8px;
}

.closed_pop:hover {
    color: #2D9CDB;
}

.pop_bottom {
    margin: 0 27px 0 27px;
}

.pop_bottom .checkbox {
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.pop_bottom .btn-row {
    text-align: right;
}

.policy {
    background: #f7941d;
}

.policy .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.policy i {
    font-size: 20px;
    color: #f7941d;
}

.policy h5 {
    font-weight: bold;
    padding: 10px 0;
}

.policy .card {
    border-radius: 15px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

footer .list-menu .li_menu {
    margin-bottom: 15px;
}

footer .list-menu .li_menu:hover {
    margin-left: 10px;
    cursor: pointer;
}

footer .hour_24 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
