@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
@import url("./login.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georama', sans-serif;
    color: #252525;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
}

.main {
    /* background-color: red; */
    /* min-height: 717px; */
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 642px;
    width: 100%;
    background-size: cover;
}

/* banner */
.banner1 {
    margin-top: 25px;
    background-image: url("//bizweb.dktcdn.net/100/364/402/themes/857456/assets/bg_breadcrumb.jpg?1647654618684");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-bottom: 50px;
}

.title_full {
    width: 100%;
    float: left;
    text-align: left;
}

.title-text {
    text-align: center;
}

.title-full .title-page {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    margin: 0;
}

.subtitle {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    font-size: 14px;
    padding: 0px;
    border-radius: 0;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.subtitle li {
    display: inline;
    font-size: 15px;
}

.subtitle li a:hover span,
.subtitle li.active span,
.subtitle li strong span {
    color: #f7941d;
}

.subtitle li>a>span {
    color: #fff;
}

.subtitle li .icon {
    padding: 0px;
    color: #fff;
}


.nav {
    font-size: 14px;
}

.navtop {
    width: 100%;
    height: 94px;
}

.logo_centers {
    margin-top: 20px;
}

#form-search {
    border: 2px solid #f7941d;
}

.area-search {
    margin-top: 18px;
}

.form-search {
    position: relative;
    height: 50px;
}

.form-outline {
    display: flex;
    align-items: center;
    height: 100%;
}

.form-outline input {
    width: 95%;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #f7941d;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding: 0px 17px 0px 20px;
    color: #252525;
}

#form-search:focus {
    outline: none;
}

.btn-search {
    border-radius: 50%;
    position: absolute;
    border: 0;
    top: 0;
    right: 0;
    background: #f7941d;
    height: 50px;
    width: 50px;
}

.btn-search i {
    color: white;
}

.list-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;

}

.list-account li a {
    font-size: 12px;
    line-height: 20.4px;
    text-transform: uppercase;
    color: #252525;
    padding: 5px;
}

ul li a:hover {
    color: #f7941d;
}

navbar-nav li a:hover {
    color: #f7941d;
}



.list-inline {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;

}

.cart {
    margin-top: 15px;
    margin-right: 20px;
    position: relative;
}

#quantity {
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-color: #000084;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-cart {
    margin-top: 10px;
    margin-right: 10px;
    color: #f7941d;
}

.navbot {
    height: 51px;
    width: 100%;
}

.menu-cate {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100%;
    color: white;
    background-color: #f7941d;
}

.menu-cate div {
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.14px;
    line-height: 17px;
}

.nav-list {
    height: 51px;
}

.nav-list .nav-item1 .nav-link {
    height: 51px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #252525;
}

.nav-list .nav-item1 .nav-link:hover {
    color: #f7941d;
}

.nav-list .nav-item1 .nav-link.active {
    color: #f7941d;
}

.drop-menu {
    box-shadow: 0 1px 2px 2px rgb(0 0 0 / 20%);
}

.drop-menu li {
    width: 200px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.drop-menu li :hover {
    background-color: #fff;
}

.drop-item {
    width: 175px;
    height: 49px;
    font-size: 14px;
    padding: 12px 10px 12px 10px;
    border-bottom: 1px solid #f7941d;
}

.drop-item:hover {
    color: #f7941d;
}

.drop-item:active {
    background-color: #fff;
}

.contact {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact i {
    color: #f7941d;
    font-size: 20px;
}

.contact .hot {
    font-size: 15px;
    margin-left: 5px;
}

#hotline {
    color: #000084;
    font-size: 24px;
    padding: 5px;
}


#closet-item {
    border-bottom: 0;
}

.content {
    /* background-color: #252525; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category {
    position: absolute;
    width: 100%;
    height: 150px;
    top: -150px;
    left: 0;
}

.list-item {
    display: flex;
}

.category .list-item .item {
    width: 16.67%;
    height: 150px;
    background-color: #ffffff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid rgb(229, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 150ms ease-in-out;
}

.category .list-item .item img {
    width: 60px;
    height: 60px;
    transition: all 400ms ease;
}

.category .list-item .item img:hover {
    transform: translate3d(0px, 0px, 0px);
}

.category .list-item .item .label {
    padding: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
    line-height: 19.6px;
    color: #252525;

}

.featured-product {
    width: 100%;
    height: 640px;
    margin: 30px 0px 0px;
}

.featured-product .left {
    height: 640px;
}

.featured-product .right {
    height: 640px;
}

.count-down {
    height: 590px;
    border: 2px solid #f7941d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-view {
    width: 90%;
    background-color: #898989;
    position: relative;
}

#hot-label {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 23px;
    background-color: #f7941d;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.clock #time {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.clock #time span {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: #c4c5d1 0px 11px 21px 0px;
    color: #101226;
    font-size: 21px;
    font-weight: 700;
    margin: 0px 3px;
    padding: 3px;
    text-align: center;
    width: 61px;
    height: 61px;
}

.clock #time span p {
    font-size: 14px;
    color: #3a3d5e;
}

.count-down .infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #252525;


}

.count-down .infomation .name {
    margin-top: 30px;
    letter-spacing: 0.16;
    font-size: 15px;
}

.count-down .infomation .type {
    margin-top: 10px;
    font-size: 13px;
    color: #898989;
    text-transform: uppercase;
}

.count-down .infomation .price {
    margin-top: 10px;
    color: #f7941d;
    font-size: 20px;
    font-weight: 700;
}

.display-product {}

.list-product {
    /* background-color: #000084; */
    position: relative;


}

.owl-nav {
    position: absolute;
    right: 20px;
    top: -85px;
}

.owl-nav .owl-prev span {
    font-size: 25px;
    text-decoration: none;
}

.owl-nav button.owl-prev {
    /* background-color: transparent !important;
    color: #252525; */
}


.owl-nav .owl-next span {
    color: #252525;
    font-size: 25px;
}

.list-product .product {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.product a img:hover {
    opacity: 70%;
}

.product .name {
    margin-top: 18px;
    font-size: 14px;
    letter-spacing: 0.14px;
}

.product .price {
    color: #f7941d;
}

.view-image {
    background-color: gainsboro;
    position: relative;
}

.list-btn-view {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 13px;
    left: 42px;
}

.list-btn-view .btn2 {
    background-color: #fff;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border-radius: 5px;
}

#btn-view i {
    color: black;
}

#btn-detail {
    color: black;
    margin-left: 4px;
}

.tab-menu {
    display: flex;
    height: 45px;
    margin-bottom: 25px;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;

}

.tab-menu .list-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 80px;
}

.tab-menu h3 {
    background-color: #f7941d;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 20px;
    transform: skew(10deg);
}

.tab-menu h3 a {
    font-size: 18px;
    color: white;
    transform: skew(-10deg);
}

.list-menu li {
    padding: 5px 8px;
}

.list-menu li a {
    color: #252525;
    font-size: 14px;
}

#banner {
    width: 100%;
}

.banner img {
    display: block;
    transition: all .3s ease;
}

.banner img:hover {
    transform: scale(1.1);
    /* cỡ zoom khi di chuột vào */
}

.banner {
    display: block;
    overflow: hidden;
}

.area-post {
    margin-top: 100px;
}

.list-post .post {
    height: 423px;
    margin: 4px;
}

.date-post {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 8px 20px;
    box-shadow: #d2cece 0px 10px 35px 0px;
    font-size: 12px;
}

.post .content {
    padding: 25px 0 0;
}

#time-post {
    padding-right: 10px;
    padding-left: 5px;
}

#title-post {
    color: #23527c;
    font-weight: 700;
}

#title-post:hover {
    color: #f7941d;
}

#detail-post {
    color: #707070;
    padding: 15px 0 0;
    font-weight: 300;
    font-size: 13px;
}